[submodule "twilio-microvisor-hal-stm32u5"]
	path = twilio-microvisor-hal-stm32u5
	url = https://github.com/twilio/twilio-microvisor-hal-stm32u5.git
[submodule "twilio-microvisor-tools"]
	path = twilio-microvisor-tools
	url = https://github.com/twilio/twilio-microvisor-tools.git
